{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sk Ahsan Habeeb -Portfolio</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- navbar -->
     <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Ahsan Habeeb</h2>

        </div>

        <div class="right-nav">
            <ul class="flex">
            <li>
                <a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a>
            </li>
            <li>
                <a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a>
            </li>
            <li>
                <a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a>
            </li>
            <li>
                <a href="#projects" class="t-white roboto">Projects <i class="fa-solid fa-project-diagram"></i></a>
            </li>
            <li>
                <a href="#contact" class="t-white roboto">Contact Me<i class="fa-solid fa-rocket"></i></a>
            </li>
            </ul>
        </div>
    </nav>

    <!-- home -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h1 class="popinss">Hi, I'm <span class="header">Ahsan</span></h1>
                <h4 class="popinss">Software Devaloper and AI Enthusiast</h4>
    
                <!-- <div class="social-logo-container"> -->
                    <!-- LinkedIn Logo -->
                    <!-- <a href="https://www.linkedin.com/in/sk-ahsan-habeeb-617990213" target="_blank">
                        <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn logo" class="social-logo">
                    </a> -->
                
                    <!-- GitHub Logo -->
                    <!-- <a href="https://github.com/SkAhsanHabeeb" target="_blank">
                        <img src="{% static 'images/g1.png' %}" alt="GitHub logo" class="social-logo">
                    </a> -->
                
                    <!-- Email Logo -->
                    <!-- <a href="mailto:ahsan.habeeb@outlook.com" aria-label="Email Ahsan Habeeb">
                        <img src="{% static 'images/outlook.png' %}" alt="Email logo" class="social-logo">
                    </a> -->
                
                    <!-- Phone Logo -->
                    <!-- <a href="tel:+918346989566" aria-label="Call Ahsan Habeeb">
                        <img src="{% static 'images/c1.png' %}" alt="Call logo" class="social-logo">
                    </a>
                </div> -->
                
                <a href="{% static 'pdf/Sk Ahsan Habeeb.pdf'%}" target="_blank">
                    <button class="btn popinss">Resume</button>
                </a>
                <a href="https://wa.me/+918346989566" class="btn popinss live" id="hireme" target="_blank">Let's Chat</a>
             </div>

        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
                <img src="{%static 'images/me2.jpg'%}" alt="Ahsan's profile picture" class="social-logo">
            </div>
         </div>
    </section>
    
    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 p-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/dog.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Sk Ahsan Habeeb</h1>
                    <p class="header poppins">Myself Sk Ahsan Habeeb. I had graduated from Cooch Behar Government College in Electronics and Communication Engineering.</p>
                    <p class="header poppins">I am a passionate and driven software developer with a strong foundation in Python, Django, and SQL, combined with experience in front-end technologies like HTML, CSS, and Bootstrap. My journey began with a deep interest in problem-solving and data analysis, which led me to work on various projects, including Pizza Shop Sales Data Analysis, Brain Tumor Detection using Machine Learning, and web development. I bring a keen eye for detail, creativity, and a commitment to writing clean, efficient code.</p>
                    <p class="header poppins">My expertise spans a variety of tools and technologies, including NumPy, Pandas, Power BI, Machine Learning, and Fuzzy Logic. I thrive in environments that challenge me to learn and grow, and I am always eager to embrace new technologies to solve complex problems. My ability to balance both front-end and back-end development, along with a data-driven mindset, empowers me to create impactful, user-friendly applications that drive real-world results.
                    Driven by a passion for technology and innovation, I aim to contribute to forward-thinking projects that make a difference. Let's connect and explore how I can add value to your team or project!
                    </p>
                    <a class="btn " id="hireme"
                        href="mailto:ahsan.habeeb@outlook.com">Hire Me</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 p-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/d1.jpg'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="python bar p-relative"><span class="bar-content left t-white">Python</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">SQL</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="django bar p-relative"><span class="bar-content left t-white">Data Stracture</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="django bar p-relative"><span class="bar-content left t-white">NumPy and Pandas</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="java bar p-relative"><span class="bar-content left t-white"> Power BI</span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="java bar p-relative"><span class="bar-content left t-white">Open CV and Scikit Learn</span><span
                            class="bar-content right-skills t-white">70%</span></div>
                <div class="git bar p-relative"><span class="bar-content left t-white">Git and GitHub</span><span
                        class="bar-content right-skills t-white">60%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">Core Java</span><span
                        class="bar-content right-skills t-white">50%</span></div>        
            </div>
        </div>
        </div>
    </section>
    <!-- Projects Section -->
    <section id="projects">
        <h1 class=" t-center my-2 p-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="header poppins">Medical Image Classification</h1>
                <p class="t-white poppins">Medical Image Cklassification using ANFIS is a brain tumor detection project from MRI images. This is a machine learning project focused on classifying brain images to detect tumors. I utilized Principal Component Analysis (PCA) for dimensionality reduction and Adaptive Neuro-Fuzzy Inference System (ANFIS) combined with Genetic Algorithm (GA) for optimizing fuzzy logic parameters. The model achieved 92% accuracy, demonstrating effective tumor detection. Implemented in Python, this project highlights my expertise in image processing, machine learning, and fuzzy logic, alongside my ability to apply advanced techniques for real-world medical applications.
                </p>
                <div class="buttons flex s-around">
                    <a href=""
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="header poppins">Workbook</h1>
                <p class="t-white poppins">Workbook is a Django-based web application.I started designing to streamline user interaction with working professional, with responsive interface built with Bootstrap. It allows users to manage and track their tasks efficiently, providing features such as account creation, secure login, and profile customization. The app includes a professional navbar and search functionality for an enhanced user experience. Users can view and manage their profiles, and the application is fully responsive, ensuring accessibility across devices. Want to deploy on github, Workbook demonstrates my skills in Django backend development, SQL, and frontend design with Bootstrap.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/SkAhsanHabeeb/Workbook.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="header poppins">Sales Data Analysis of a Business</h1>
                <p class="t-white poppins">In this case I analyzed sales Data of a Pizza Shop is a comprehensive project where I analyzed one year's worth of sales data from a pizza shop to uncover actionable insights and trends. Using Python with libraries like Pandas and NumPy, I performed data cleaning, aggregation, and statistical analysis to identify key patterns in sales, customer preferences, and peak times. Additionally, I created visualizations with Power BI to present the findings clearly, helping the business make data-driven decisions aimed at increasing sales. This project showcases my ability to analyze complex datasets, draw meaningful conclusions, and communicate results effectively.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/SkAhsanHabeeb/DATA-ANALYSIS-OF-A-PIZZA-SHOP" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="header poppins">My Portfolio</h1>
                <p class="t-white poppins">This is my portfolio website, created using HTML, CSS, and enhanced with Bootstrap for the frontend, with Django powering the backend. The website showcases my work in a sleek, minimalist design, ensuring the content takes center stage. With an uncluttered layout, it offers a user-friendly experience, making it easy for visitors to navigate and explore my projects and achievements. The website includes sections for my personal information, technical skills, and project details, all designed to reflect my expertise in web development. Additionally, the responsive design ensures that the site is accessible across all devices, providing an optimal viewing experience for all visitors.
                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/SkAhsanHabeeb/Portfolio" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Me Section -->
    <section id="contact" class="m-b-1">
        <h1 class=" t-center my-2 p-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <!-- <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/sk-ahsan-habeeb-617990213" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul> -->
        <ul>
        <div class=" social-icons flex s-center w-80 my-2 font-awesome m-auto ">
            <!-- LinkedIn Logo -->
           <li> <a href="https://www.linkedin.com/in/sk-ahsan-habeeb-617990213" target="_blank">
                <img src="{% static 'images/test1.png' %}" alt="LinkedIn logo" class="social-logo">
            </a>
            </li>
        
            <!-- GitHub Logo -->
           <li> <a href="https://github.com/SkAhsanHabeeb" target="_blank">
                <img src="{% static 'images/g1.png' %}" alt="GitHub logo" class="social-logo">
            </a>
            </li>
        
            <!-- Email Logo -->
            <li><a href="mailto:ahsan.habeeb@outlook.com" aria-label="Email Ahsan Habeeb">
                <img src="{% static 'images/outlook.png' %}" alt="Email logo" class="social-logo">
            </a>
            </li>
        
            <!-- Phone Logo -->
            <li><a href="tel:+918346989566" aria-label="Call Ahsan Habeeb">
                <img src="{% static 'images/c1.png' %}" alt="Call logo" class="social-logo">
            </a>
            </li>
        </div>
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Error By Night 
                </span></p>
    </footer>
</body>
</html>